body {
  text-align: center;
  background-color: #283149;
}

h1 {
  font-size: 5rem;
  color: #DBEDF3;
  font-family: 'Permanent Marker', cursive;
  text-shadow: 3px 0 #DA0463;

}

footer {
  color: #DBEDF3;
  font-family: sans-serif;
}

.w {
background-image: url(images/tom1.png);
}

.a {
background-image: url(images/tom2.png);
}

.s {
background-image: url(images/tom3.png);
}

.d {
background-image: url(images/snare.png);
}

.j {
background-image: url(images/crash.png);
}

.k {
background-image: url(images/kick.png);
}

.l {
background-image: url(images/tom4.png);
}

.set {
  margin: 10% auto;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.pressed {
  box-shadow: 0 10px 15px 0 #ee4540;
  opacity: 0.5;
}

.red {
  color: red;
}

.drum {
  outline: none;
  border: 5px solid #404B69;
  font-size: 2rem;
  font-family: 'Permanent Marker', cursive;
  line-height: 2;
  font-weight: 900;
  color: #ffa323;
  text-shadow: 5px 0 3px  #202040;
  border-radius: 15px;
  display: inline-block;
  width: 150px;
  height: 150px;
  text-align: center;
  margin: 10px;
  background-color: white;
  padding-left: 100px;
  padding-top: 90px;
}

.colorChanger {
  color: #e41749;
}
